[DEFAULT]
debug = {{ trove_logging_debug }}

log_dir = /var/log/trove/
log_file = trove-guestagent.log

control_exchange = trove
transport_url = {{ rpc_transport_url }}

trove_auth_url = {{ internal_protocol }}://{{ kolla_internal_fqdn }}:{{ keystone_public_port }}/v3

os_region_name = {{ openstack_region_name }}

{% if enable_osprofiler | bool %}
[profiler]
enabled = true
trace_sqlalchemy = true
hmac_keys = {{ osprofiler_secret }}
connection_string = {{ osprofiler_backend_connection_string }}
{% endif %}

[oslo_messaging_notifications]
transport_url = {{ notify_transport_url }}
